@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #f9f9ff;
}

/* General */

.removeBottomRadius {
  border-radius: 0.375rem 0.375rem 0 0;
}

/* Colors */

.textPurple {
  color: #5f64ff;
}

.random {
  color: rgb(161, 172, 174);
  color: rgb(72, 207, 207);
}

.money_red {
  color: #ea7a77;
}

.money_green {
  color: #579953;
}

/* Buy Card */

.buy_card {
  background-color: #0002264b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.card {
  background-color: #fff;
  width: 350px;
  height: 500px;
}

/* Small Chart */

.small_chart {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Navbar */

.nav_logo {
  min-width: 56px;
}

.searchIcon {
  z-index: 1;
}

.searchBar {
  width: 550px;
  background-color: rgba(243, 243, 243, 0.2);
  backdrop-filter: blur(10px);
  color: white;

  padding-left: 2.25rem;
  border-radius: 0.375rem;
  height: 2.75rem;
}

.searchBar::placeholder {
  color: white;
}

.signin {
  background-color: rgba(243, 243, 243, 0.33);
  padding: 12px 15px;
  font-size: 1.1rem;
  max-height: 50px;
  width: 100px;
}

.nav_bg {
  background-color: #454bff;
}

.searchOptions {
  position: absolute;
  left: 270px;
  top: 65.5px;
  z-index: 2;

  width: 550px;
  height: 0px;
  background-color: rgba(243, 243, 243, 0.2);
  backdrop-filter: blur(10px);

  transition: 0.3s ease 0.3s;
  overflow-y: auto;
}

.searchResults {
  display: flex;
}

/* Removes Scrollbar */
.searchOptions::-webkit-scrollbar {
  display: none;
}

/* Chart */

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}

/* Home */

.day_btn {
  border: 2px solid black !important;
  border-radius: 10px;
  width: 55px;
  height: 40px;
  color: #222af3;
  padding: 0 3px;

  font-size: 0.8rem;
}

/* Table */

.coin_table {
  max-width: 1300px;
  width: 100%;
  border-collapse: collapse;
}

.market_data {
  max-width: 1300px;
}

.coin_table tbody tr {
  border-top: 1px solid rgba(200, 200, 200, 0.609);
}

.coin_table thead tr th {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  color: #474747;
  padding-bottom: 5px;
}

.coin_table tbody tr td {
  padding: 20px 0;
  color: #474747;
}

.table_btn {
  background-color: #3e45ff;
  color: white;
  border-radius: 11px;
  padding: 10px 45px;
}

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}

.coin_icon {
  min-width: 170px;
}

.coin_price {
  min-width: 200px;
}

.coin_percent {
  min-width: 125px;
}

.coin_volume {
  min-width: 130px;
}

.coin_market {
  min-width: 148px;
}

.table_nav_on {
  background-color: rgba(212, 213, 254, 0.33);
  color: #0009ff;
  border-radius: 7px;
  padding: 4px 12px;
  font-size: 0.8rem;
}
.table_nav_off {
  color: #474747;
  background-color: rgba(212, 213, 254, 0);
  border-radius: 7px;
  padding: 4px 12px;
  font-size: 0.8rem;
}

.opt_btn button {
  height: 35px;
}

.opt_btn button:nth-child(1) {
  width: 81px;
}

.hamburger {
  position: absolute;
  right: 3px;
  top: 17px;
}

.next_previous {
  background-color: #3e45ff;
  color: white;
  padding: 12px 12px;
  border-radius: 100px;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.total_balance {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: 325px;
  height: 225px;
  border-radius: 5px;
}

.total_balance h4 {
  color: #5f64ff;
}

.total_balance_content {
  height: 100%;
  padding: 25px;
}
.total_balance_body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.total_balance_amount {
  width: 100%;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.total_balance_amount h2 {
  font-size: 1.8rem;
}

.total_balance_amount p {
  font-size: 1.2rem;
}

.total_balance_days {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.total_balance_days_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 73px;
}

.total_balance_days_columns p {
  font-size: 0.8rem;
  color: #6f6e70;
}

.total_balance_days_columns h3 {
  font-size: 1.25rem;
}

/* Your Portfolio Card */

.your_portfolio {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.your_portfolio h4 {
  color: #5f64ff;
}

.your_portfolio_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.your_portfolio_row {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.your_portfolio_row_name {
  display: flex;
  gap: 12px;
  align-items: center;
}

.your_portfolio_row_name div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 120px;
}

.your_portfolio_row_name div h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.your_portfolio_row_name div p {
  font-size: 0.8rem;
  font-weight: 300;
}

.your_portfolio_row_value {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Doughnut Card */

.progressbar-outer {
  background-color: #cccccc;
  border-radius: 20px;
  height: 9px;
  width: 350px;

  margin-top: 3px;
}
.progressbar-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: 0; */
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 0;
  transition: 1s ease 0.3s;
}

.doughnut_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doughnut {
  width: 400px;
  height: 550px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.doughnut_options {
  height: 188px;
  overflow-y: auto;
}

.doughnut_row {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.doughnut_line {
  border: none;
  width: 400px;
  height: 1px;
  color: #d5d7d6;
  background-color: #d5d7d6;
}

.d_row {
  width: 350px;
}

/* Removes Scrollbar */
.doughnut_options::-webkit-scrollbar {
  display: none;
}

.hr {
  background-color: #0009ff;
  height: 2px;
}

/* Coin Page */

.converter {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

/* Settings */

.pass_check {
  background-color: #0002264b;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.pass_check_card {
  background-color: white;
  width: 300px;
  height: 200px;
}

.pass_check_card button {
  background-color: #454bff;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Recent Activity */

.activity {
  width: 500px;
  height: 300px;
  overflow-y: auto;

  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.activity h4 {
  color: #5f64ff;
}

/* Removes Scrollbar */
.activity::-webkit-scrollbar {
  display: none;
}

/* Responsive */

@media (max-width: 600px) {
  .nav_response {
    display: none;
  }

  .coin_table tbody td:nth-child(n + 3) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 740px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 4) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 870px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 5) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 500px) {
  .doughnut {
    display: none;
  }

  .activity {
    display: none;
  }
}

@media (max-width: 1050px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 6) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 6) {
    display: none;
  }
}

@media (min-width: 1050px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .searchbar {
    width: 350px;
  }
}

@media (min-width: 1350px) {
  .nav_options {
    width: 300px;
  }
}
