@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #242bff;
}

/* Navbar */

.searchbar {
  width: 550px;
  background-color: rgba(243, 243, 243, 0.33);
  color: white;
}

.searchbar::placeholder {
  color: white;
}

.signin {
  background-color: rgba(243, 243, 243, 0.33);
  padding: 10px 15px;
  font-size: 1.1rem;
}

/* Chart */

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}
