@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #12102e;
}

/* Chart */

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}
