@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #fff;
}

/* Colors */

.textPurple {
  color: #5f64ff;
}

/* Buy Card */

.buy_card {
  background-color: #0002264b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.card {
  background-color: #fff;
  width: 350px;
  height: 500px;
}

/* Navbar */

.nav_logo {
  min-width: 56px;
}

.searchbar {
  width: 550px;
  background-color: rgba(243, 243, 243, 0.33);
  color: white;
}

.searchbar::placeholder {
  color: white;
}

.signin {
  background-color: rgba(243, 243, 243, 0.33);
  padding: 12px 15px;
  font-size: 1.1rem;
  max-height: 50px;
  width: 100px;
}

.nav_bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  background-image: linear-gradient(#242bff, #fff);
  z-index: -1;
}

/* Chart */

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}

/* Home */

.day_btn {
  border: 2px solid black !important;
  border-radius: 10px;
  width: 55px;
  height: 40px;
  color: #222af3;
  padding: 0 3px;

  font-size: 0.8rem;
}

/* Table */

.coin_table {
  max-width: 1300px;
  width: 100%;
  border-collapse: collapse;
}

.market_data {
  max-width: 1300px;
}

.coin_table tbody tr {
  border-top: 1px solid rgba(200, 200, 200, 0.609);
}

.coin_table thead tr th {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  color: #474747;
  padding-bottom: 5px;
}

.coin_table tbody tr td {
  padding: 20px 0;
  color: #474747;
}

.table_btn {
  background-color: #3e45ff;
  color: white;
  border-radius: 11px;
  padding: 10px 45px;
}

.percentGreen {
  color: #7fc379;
}

.percentRed {
  color: #ea7b77;
}

.coin_icon {
  min-width: 170px;
}

.coin_price {
  min-width: 200px;
}

.coin_percent {
  min-width: 125px;
}

.coin_volume {
  min-width: 130px;
}

.coin_market {
  min-width: 148px;
}

.table_nav_on {
  background-color: rgba(212, 213, 254, 0.33);
  color: #0009ff;
  border-radius: 7px;
  padding: 4px 12px;
  font-size: 0.8rem;
}
.table_nav_off {
  color: #474747;
  background-color: rgba(212, 213, 254, 0);
  border-radius: 7px;
  padding: 4px 12px;
  font-size: 0.8rem;
}

.opt_btn button {
  height: 35px;
}

.opt_btn button:nth-child(1) {
  width: 81px;
}

.hamburger {
  position: absolute;
  right: 3px;
  top: 17px;
}

/* Portfolio */

.balance_display {
  background-color: #fff;
  width: 325px;
  height: 225px;
}

/* Responsive */

@media (max-width: 600px) {
  .nav_response {
    display: none;
  }

  .coin_table tbody td:nth-child(n + 3) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 740px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 4) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 870px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 5) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 1050px) {
  .nav_response {
    display: none;
  }

  .nav_title {
    display: block;
  }

  .coin_table tbody td:nth-child(n + 6) {
    display: none;
  }

  .coin_table thead th:nth-child(n + 6) {
    display: none;
  }
}

@media (min-width: 1050px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .searchbar {
    width: 350px;
  }
}

@media (min-width: 1350px) {
  .nav_options {
    width: 300px;
  }
}
